*{
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
}
.header{
    display: flex;
    
}

.log{
    height: 8.0rem;
    margin: 2px 10px 2px 60px;
}
.header{
    /* position: relative; */
}
.header ul{
    display: flex;
    list-style: none;
    font-size: 4.4rem;
    
}
.header::before{
    content: "";
    position: absolute;
    background: url(image/hiit-workout-header.jpg) no-repeat center center/cover;
    width: 100vw;
    height: 70vh;
    z-index: -1;
    opacity: 0.95;
    overflow: hidden;
}
 li {
   margin:auto 20px;

}
.header ul li a{  
    color: rgb(253, 250, 250);
    text-decoration: none;
    padding: 5px 15px;
}
 .header ul li a:hover{
    background-color: rgb(5, 5, 5);
    color: rgb(194, 135, 26); 
}
.head_img{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 4rem;
    font-weight: bold;

}
.head_img p{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bold;

/* .head_img ::before{
    content: "";
    position: absolute;
    
    height: 100%; 
    width: 100%;
    z-index: -1;
    opacity: 0.90;

}  */